# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4739865db86bc7f8fd7bc9cad4826b9fcf4db832777a9f94fabae3444aa2f999ac931d06056c7a1ffd95d06dd5ba1d60388e057b58ee9711cf7f517c984898d8

test:
  secret_key_base: ce0c5ef9a7d95885ff88d44b7a1b0fb0d4ba43135343008e2a3df6a962c8c8faa9a76475b6dbe7c418361503e67b1a29775ef986dccb45dd05d588adb59b391f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
